.profile__name {
  margin: 22px 0 0 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 910px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    margin: 0;
    padding-top: 26px;
    text-align: right;
    width: 100%;
  }
}
