.page {
  user-select: none;
  max-width: 880px;
  margin: 0 auto;
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: #fff;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
