.profile {
  font-family: Inter, Arial, Helvetica, sans-serif;
  display: flex;
  margin-top: 40px;
}

@media (max-width: 910px) {
  .profile {
    max-width: 282px;
    display: block;
    margin: 42px auto;
  }
}
