.profile__specialty {
  margin: 16px 0 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 910px) {
  .profile__specialty {
    margin-top: 14px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
