.sign__text-error {
  display: block;
  word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 5px;
  font-size: 12px;
  line-height: 15px;
  color: red;
  font-family: Inter;
}

@media (max-width: 320px) {
  .sign__text-error {
    font-size: 10px;
  }
}
