.popup__container {
  box-sizing: border-box;
  background-color: #fff;
  max-width: 430px;
  padding: 34px 36px 37px;
  border-radius: 10px;
  position: relative;
  transition: all 500ms ease-in-out;
}

@media (max-width: 550px) {
  .popup__container {
    max-width: 282px;
    padding: 25px 22px;
  }
}
