.header__user-email {
  display: flex;
  word-wrap: break-word;
  justify-content: end;
  max-width: 500px;
  max-height: 22px;
  margin: 0 24px 0 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.header__user-email:hover {
  cursor: not-allowed;
}

@media (max-width: 320px) {
  .header__user-email {
    overflow: hidden;
    margin: 0;
    max-width: 250px;
  }
}
