.sign__text-registration {
  border: none;
  text-align: center;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.sign__text-registration:first-of-type {
  margin: 15px 0 0;
}

.sign__text-registration a {
  outline: none;
  color: #fff;
  text-decoration: none;
}

.sign__text-registration a:hover {
  color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 320px) {
  .sign__text-registration:first-of-type {
    margin: 20px 0 0;
  }
}
