.header {
  font-family: Inter, Arial, Helvetica, sans-serif;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 45px 0 60px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media (max-width: 320px) {
  .header {
    margin: 28px 0 40px;
  }
}
